name: CD - Deploy to AKS

on:
  push:
    branches: [ main ]
    paths:
      - 'k8s/**'
      - '.github/workflows/cd.yaml'
  workflow_dispatch:

env:
  AKS_RESOURCE_GROUP: rg-devops-assgn
  AKS_CLUSTER_NAME: aks-devops-assgn

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group $AKS_RESOURCE_GROUP \
            --name $AKS_CLUSTER_NAME \
            --overwrite-existing

      - name: Deploy Kubernetes manifests
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/user-service
          kubectl rollout status deployment/order-service
          kubectl rollout status deployment/api-gateway
