name: CI - Build and Push Images

on:
  push:
    branches: [ "main" ]

env:
  ACR_NAME: ${{ secrets.ACR_NAME }}
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: az acr login -n $ACR_NAME

      - name: Build and push user-service
        run: |
          docker build -t $ACR_LOGIN_SERVER/user-service:v1 ./user-service
          docker push $ACR_LOGIN_SERVER/user-service:v1

      - name: Build and push order-service
        run: |
          docker build -t $ACR_LOGIN_SERVER/order-service:v1 ./order-service
          docker push $ACR_LOGIN_SERVER/order-service:v1

      - name: Build and push api-gateway
        run: |
          docker build -t $ACR_LOGIN_SERVER/api-gateway:v1 ./api-gateway
          docker push $ACR_LOGIN_SERVER/api-gateway:v1
